body {
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: white;
}

#timer {
    float: right;
    margin-right: 24px;
    font-size: 1.8em;
    color: black;
    text-shadow: 1px 1px gray;
    font-weight: bold;
}

#homePageTitle {
    text-align: center;
    word-wrap: break-word;
    padding: 5px;
    font-family: 'Staatliches', cursive;
}

#container {
    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

#qr-container{
    position: fixed;
    top: 15%;
    left: 25%;
    right: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}


/* header text */

#header {
    text-align: center;
    word-wrap: break-word;
    padding: 5px;
    text-shadow: 2px 3px blueviolet;
    font-family: 'Staatliches', cursive;
}

#text {
    font-family: 'Cairo', sans-serif;
    font-size: 1.4em;
    text-align: center;
    text-shadow: 1px 1px blueviolet;
}


/* buttons */

/* .button,
button {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 6px;
    background-color: blueviolet;
    height: auto;
    width: 7.84em;
    border-radius: 4px;
    border: none;
    color: white;
    padding: 5px;
    margin: 16px 4px;
    box-shadow: 2px 3px white;
    font-family: 'Cairo', sans-serif;
    justify-content: center;
    align-items: center;
}

#back-btn {
    color: white;
    text-decoration: none;
} */


/* result style */

#result {
    font-size: 1.5em;
    font-style: italic;
    margin-top: 3px;
    font-family: 'Cairo', sans-serif;
}

.correct {
    text-decoration: underline overline green;
}

.wrong {
    text-decoration: underline overline red;
}

/* button:hover,
.button:hover {
    opacity: 0.9;
} */

.hide {
    display: none;
}

a {
    color: blueviolet;
}

#hs {
    margin: 5px 0px 0px 4px;
}

.high-score:hover {
    color: #adff2f;
    text-decoration: none;
    border: 1px dashed;
}


/* scoreboard */

#display-scores {
    text-align: center;
    text-shadow: 1px 3px black;
    font-size: 1.8em;
    width: 84px;
    background-color: blueviolet;
    box-shadow: 6px 5px white;
    color: white;
    margin-bottom: 8px;
    border-radius: 20px;
    font-family: 'Cairo', sans-serif;
}

#display-scores:hover,
#display-scores:focus,
#display-scores:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/* // Small devices (landscape phones, 576px and up) */

@media (max-width: 576px) {
    #container {
        position: static;
        margin-top: 50%;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    #header {
        margin-top: 9.6%;
        font-size: 1.8em;
    }
}